$color-red: red;
$color-black: black;
$color-dark: rgb(48, 48, 48);
$color-white: white;
$color-green: green;
$spacing-small: 15px;
$spacing-medium: 30px;
$spacing-large: 45px;

*, *::before, *::after {
  box-sizing: border-box;
}

.bg-dark {
  background-color: $color-black;
  color: $color-white;
}

.wrapper {
  padding: $spacing-medium;

  &.full-width {
    width: 100%;
  }

  &.half-width {
    width: 50%;
  }

  &.bg-dark {
    background-color: $color-dark;
  }

  h2 {
    font-size: 40px;

    &.color-red {
      color: $color-red;
      cursor: pointer;
      transition: color .5s ease-in-out;

      &:hover {
        color: $color-green;
      }
    }
  }

  // p {
  //   &::before {
  //     content: '- ';
  //     color: $color-red;
  //   }

  //   &.empty {
  //     &::before {
  //       content: none;
  //     }
  //   }
  // }

  p {
    &:not(.empty) {
      &::before {
        content: '- ';
        color: $color-red;
      }
    }

    &:first-of-type {
      font-size: 1.5em;
    }
  }
}

.box {
  border: 2px solid $color-green;
  padding: $spacing-medium;
  margin-bottom: $spacing-medium;
}

.container {
  width: 70%;
  margin: $spacing-medium auto;
}