.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.pink {
  background-color: pink;
}

.purple {
  background-color: purple;
}

.container {
  background-color: gray;
  width: 600px;
  height: 600px;
  margin-bottom: 30px;
}

.container-1 {
  display: grid;
  /* grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px; */

  /* grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px); */

  /* grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3); */
  /* grid-template-columns: repeat(3, calc(100% / 3));
  grid-template-rows: repeat(3, calc(100% / 3)); */

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  /* row-gap: 20px;
  column-gap: 20px; */
  gap: 15px;
}

.container-1 .child:nth-child(1) {
  /* grid-column-start: 1;
  grid-column-end: 2; */
  grid-column: 1 / 2;

  /* grid-row-start: 1;
  grid-row-end: 2; */
  grid-row: 1 / 2;
}

.container-1 .child:nth-child(2) {
  /* grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2; */

  /* grid-column: 2 / 4;
  grid-row: 1 / 2; */

  /* <row-start> / <column-start> / <row-end> / <column-end> */
  grid-area: 1 / 2 / 2 / 4;
}

.container-1 .child:nth-child(3) {
  /* grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3; */

  grid-area: 2 / 1 / 3 / 3;
}

.container-1 .child:nth-child(4) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.container-1 .child:nth-child(5) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.container-1 .child:nth-child(6) {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.container-1-demo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.container-1-demo .child:nth-child(2),
.container-1-demo .child:nth-child(3),
.container-1-demo .child:nth-child(6) {
  grid-column-end: span 2;
}

.container-14 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);

  row-gap: 15px;
  column-gap: 30px;
}

.container-14 .child:nth-child(1) {
  /* grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4; */

  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.container-14 .child:nth-child(2) {
  /* grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 4; */

  grid-column: 3;
  grid-row: 1 / 4;
}

.container-14 .child:nth-child(3) {
  /* grid-column-start: 1;
  grid-row-start: 4;
  grid-row-end: 7; */

  grid-column: 1;
  grid-row: 4 / 7;
}

.container-14 .child:nth-child(4) {
  /* grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 7; */

  grid-column: 3 / 5;
  grid-row: 4 / 7;
}

/* .container-14 .child:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.container-14 .child:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.container-14 .child:nth-child(3) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

.container-14 .child:nth-child(4) {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.container-14 .child:nth-child(5) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.container-14 .child:nth-child(6) {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.container-14 .child:nth-child(7) {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

.container-14 .child:nth-child(8) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 7;
}

.container-14 .child:nth-child(9) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

.container-14 .child:nth-child(10) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

.container-14 .child:nth-child(11) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}

.container-14 .child:nth-child(12) {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 7;
} */


.container-14-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.container-14-1 .child:nth-child(1) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
}

.container-14-1 .child:nth-child(1) .inner-child:nth-child(3) {
  grid-column: 1 / 3;
}

.container-14-1 .child:nth-child(2),
.container-14-1 .child:nth-child(3) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.container-14-1 .child:nth-child(2) .inner-child:nth-child(1),
.container-14-1 .child:nth-child(3) .inner-child:nth-child(1) {
  grid-row: 1 / 4;
}

.container-4 {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}

.container-4 .inner-container-1,
.container-4 .inner-container-3 {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}

.container-4 .inner-container-2 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.container-4 .inner-container-2 .child-3 {
  grid-column: 2;
  grid-row: 1 / 3;
}

.container-15 {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.container-15 .inner-container.col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.container-15 .inner-container.col-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.container-1-named {
  display: grid;
  grid-template-columns: [col-1 logo-start] 1fr [col-2 logo-end nav-start] 1fr [col-3] 1fr [col-4 nav-end];
  grid-template-rows: 1fr [line] 1fr [line] 1fr [line];
}

.container-1-named .child:nth-child(1) {
  /* grid-column: col-1 / col-2; */
  grid-column: logo-start / logo-end;
}

.container-1-named .child:nth-child(2) {
  /* grid-column: col-2 / col-4; */
  grid-column: nav-start / nav-end;
}

.container-1-named .child:nth-child(4) {
  grid-row: line 1 / line 3;
}

.container-2-named {
  display: grid;
  grid-template-columns: 50px 1fr 25px 1fr 1fr 50px;
  grid-template-rows: 1fr 50px 1fr 1fr;

  grid-template-areas: ". first  .  third   fifth ."
                       ". .      .  third     .   . "
                       ". second .  third   sixth ."
                       ". second .  fourth  sixth .";
}

.container-2-named .child:nth-child(1) {
  grid-area: sixth;
}

.container-2-named .child:nth-child(2) {
  grid-area: fifth;
}

.container-2-named .child:nth-child(3) {
  grid-area: fourth;
}

.container-2-named .child:nth-child(4) {
  grid-area: third;
}

.container-2-named .child:nth-child(5) {
  grid-area: second;
}

.container-2-named .child:nth-child(6) {
  grid-area: first;
}